
a{text-decoration: none;}
.wd-padding{
    padding: 16px;
}
.wd-nav-tabs{
    font-size: 15px;
    padding: 0px;
}
.wd-color-gray{
    color: rgb(110, 118, 125);
}
.wd-nav-tabs li{
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding : 16px;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
}
.wd-search-icon{
    color: transparent;
    text-shadow: 0 0 0 white;
    margin-left: 2px;
    margin-top: 4px;
}
.wd-border-top{
    border-top: solid 2px gray;
}
.wd-border-bottom{
    border-bottom: solid 2px rgb(47, 51, 54);
}
.wd-news-img{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-right: 16px;
}
.wd-margin-left{
    margin-left: 12px;
}
.wd-margin-top{
    margin-top: 30px;
}
.wd-margin-up-left{
    margin-top:20px;
    margin-left: 12px;
}
.wd-gray-block{
    height: 30px;
    width: 100%;
    background-color: rgb(47, 51, 54);
}
.wd-gear-size{
    transform: scale(1.5, 1.5);
}
.wd-search-bar{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

#wd-search{
    width: 570px;
    height: 35px;
    border: 1px solid darkgray;
    border-radius: 30px;
    background-color: darkgray;
    display:flex;
}

#wd-search input{
    width: 150px;
    height: 35px;
    border: 0;
    font-size: 14px;
    outline: none;
    background-color: rgba(32, 74, 102, 0);
    /*color: white;*/
    font-size: 16px;
    margin: 0 10px;
}

#wd-search input::placeholder{
    color: white;
}

